# Database
DB_URL=jdbc:postgresql://localhost:5432/hbs
DB_USERNAME=hbs
DB_PASSWORD=hbs

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# Kafka
KAFKA_BOOTSTRAP_SERVERS=localhost:9092

# Keycloak
KEYCLOAK_JWK_URI=http://localhost:8080/realms/hbs/protocol/openid-connect/certs
